.experience-timeline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 7vw 0 7vw;;
    margin-top: 8vw;
}

/*LEFT SIDE*/
.left-side{
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
}

.right-side{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}

.timeline{
    display: flex;

}


/*TIMESTAMP LEFT*/
.year-container-left{
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: right;
    text-align: right;
    margin-bottom: 7vw;
    margin-top: 6vw;
}

.year{
    color: #424242;
    font-size: clamp(15px, 2vw, 25px);
    font-weight: 400;
}

.location{
    margin-top: 5px;
    color: #424242;
    font-size: clamp(15px, 2vw, 20px);
    font-weight: 350;
}

/*TIMESTAMP RIGHT*/
.year-container-right{
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: left;
    text-align: left;
    margin-bottom: 7vw;
    margin-top: 7vw;
    
}


/*ROLE*/
.role-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background-color: #f8f8f8;
    max-width: 600px;
    padding: 40px;
    border-radius: 80px;
    
}

.role{
    color: #424242;
    font-size: 25px;
    font-weight: 300;
}

.company{
    color:#424242;
    font-size: 20px;
    font-weight: 300;
}

.project{
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 0 30px;
}

.stack{
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 0 30px;
}

/*hover*/
.role-container:hover{
   
    background-color: #999999;
    transition: 200ms ease;

    .role{
        color: white;
        transition: 200ms ease;
    }

    .company{
        color:white;
        transition: 200ms ease;
    }

    .project{
        color: white;
        transition: 200ms ease;
    }

    .stack{
        color: white;
        transition: 200ms ease;
    }
}

/*ACTIVE*/
.role-container:active{
    background-color: #999999;
    opacity: 0.2;
    transition: 200ms ease;

    .role{
        color: white;
        opacity: 0.2;
        transition: 200ms ease;
    }

    .company{
        color: white;
        opacity: 0.2;
        transition: 200ms ease;
    }

    .project{
        color: white;
        opacity: 0.2;
        transition: 200ms ease;
    }

    .stack{
        color: white;
        opacity: 0.2;
        transition: 200ms ease;
    }
}


/*TIMELINE*/
.timeline{
    display: flex;
    justify-content: center; /* Center the timeline horizontally */
    align-items: flex-start; /* Center the timeline vertically (if needed) */
    height: 100vh; /* Optional: full viewport height for centering vertically */
    position: relative;
}

.vertical-line{
    display: flex;
    flex-direction: column;
    align-items: flex-start ; 
    border-left: 8px solid #424242; /* Vertical line */
    height: 102vh; /* Set the height of the timeline */
    position: relative; 
    margin-top: 10vh;
}

.circles {
    position: absolute; /* Position circles absolutely */
    left: -10px; /* Adjust to position them near the line */
    top: -400px;
}

.circle1, .circle2, .circle3, .circle4 {
    width: 30px; /* Circle diameter */
    height: 30px; /* Circle diameter */
    border-radius: 50%; /* Make them circular */
    background-color: #424242; /* Circle color */

}

/* Adjust the position of each circle */

.circle2 {
    margin-top:0px; /* Middle circle */
}
.circle3 {
    margin-top: 460px /* Adjust this percentage for spacing */
}
.circle4 {
    margin-top: 460px; /* Adjust this percentage for spacing */
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #424242;
    margin-top: 460px;
    margin-left: -9px;
}










