.profile-home{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;  
}

/*TEXT ON HOME PAGE*/
.intro-container{
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Center items vertically (if needed) */
    align-items: right; /* Align items to the right (end) */
    height: 200px; /* Set a height for vertical centering */
    margin: 0; /* Center the container itself */
    text-align: left; /* Align text to the right */
    padding: 20px; /* Optional: add some padding for spacing */
    margin-left: 500px;

}

.hello{
    color: #424242;
    font-size: 350px;
    font-weight: 200;
    height: 450px;
    margin-top: -350px;
}

.im{
    color: #727070;
    font-size: 60px;
    font-weight: 350;
}

.name-designator{
    color: #727070;
    font-size: 70px;
    font-weight: 350;
}

.first-name{
    color: #424242;
    font-size: 70px;
    font-weight: 350;
}

.role-designator{
    color: #727070;
    font-size: 40px;
    font-weight: 350;
}

/*BUTTONS*/
.resume-btn{
    font-size: 40px;
    margin-top: 40px;
    background-color: white;
    color: #999999;
    border-color: #999999;
    border-style: solid;
    border-width: 4px;
    height: 80px;
    width: 250px;
    border-radius: 40px;    
    cursor: pointer;
    margin-left: 10px;
}

.contact-btn{
    font-size: 40px;
    margin-top: 40px;
    background-color: #999999;
    color: white;
    border-style: none;
    height: 80px;
    width: 250px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 40px;
}


.resume-btn:hover{
    opacity: 0.3;
    transition: 200ms ease;
}

.contact-btn:hover{
    opacity: 0.3;
    transition: 200ms ease;
}

.contact-btn:active{
    opacity: 0;
    transition: 200ms ease;
}

.resume-btn:active{
    opacity: 0;
    transition: 200ms ease;
}

/*SCROLL*/
.scroll-arrow{
    position: fixed;
    font-size: 30px;
    font-weight: 500;
    color: #727070;
    margin-top: 600px;
    z-index: 1000;
}

.arrow{
    position: fixed;
    font-size: 40px;
    font-weight: 600;
    color: #727070;
    margin-top: -10px;
    margin-left: 10px;
    z-index: 1000;
}
/*PROFILE PIC*/
.pic-container{
    display: flex;
    flex: 1.2;
    width: 1300px;
    overflow: hidden;
}

.profile-pic{
    width: 1200px;
    object-fit: contain;
    margin-top: 60px;
    border-radius: 200px;
}

